@import 'base/typography.scss';
@import 'base/floatingVueDropdowns.scss';

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.button-hover:hover {
    font-weight: bold;
    filter: brightness(120%);
    cursor: pointer;
}

.grow-hover:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.login-button {
    background: rgb(var(--v-theme-gradient-purple));
    background: linear-gradient(
        90deg,
        rgba(var(--v-theme-gradient-purple), 1) 0%,
        rgba(var(--v-theme-gradient-blue), 1)
    );
}

.border-primary {
    border: 1px solid rgb(var(--v-theme-border-color));
}

.bottom-border-primary {
    border-bottom: 1px solid rgb(var(--v-theme-border-color));
}

.shadow {
    -webkit-box-shadow: 1px 7px 10px 6px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 1px 7px 10px 6px rgba(0, 0, 0, 0.22);
    box-shadow: 1px 7px 10px 6px rgba(0, 0, 0, 0.22);
}

.icon-pink {
    fill: rgb(var(--v-theme-pink));
}
.icon-secondary {
    fill: rgb(var(--v-theme-secondary));
}
.icon-primary {
    fill: rgb(var(--v-theme-primary));
}

.spining {
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
